* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

section {
  margin: 80px 0px;
}
header {
  margin-top: 50px;
}
.container {
  width: 82.5%;
  max-width: 1320px;
  margin: 0 auto;
}

.banner {
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner Image.png") no-repeat center / cover;
  border-radius: 16px;
}

.banner-text p {
  color: #fff;
  text-align: center;
  font-family: "Merriweather";
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-text h2 {
  color: #fff;
  text-align: center;
  font-family: "Merriweather";
  font-size: 62px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  width: 100%;
  max-width: 530px;
  margin: 0 auto;
}

/* midnight party */

.midnight-party-bg {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png") no-repeat center / cover;
  border-radius: 16px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.midnight-party-content {
  width: 50%;
}

.midnight-party-content * {
  margin-bottom: 5px;
}

.midnight-party-content h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.midnight-party-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.midnight-party-img img {
  width: 270px;
  height: 390px;
}

.midnight-party-content a {
  text-decoration: none;
  display: inline-block;
  background-color: grey;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 10px;
}

.midnight-party-content a:hover {
  background-color: #fff;
  color: grey;
}

/* discount section */

.discount-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discount-content h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 41px; 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.discount-content p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.discount-content h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.discount-content img{
    width: 680px;
    height: 425px;
}
