* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

section {
  margin: 80px 0px;
}
header {
  margin-top: 50px;
}
.container {
  width: 82.5%;
  max-width: 1320px;
  margin: 0 auto;
}

.banner {
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner Image.png") no-repeat center / cover;
  border-radius: 16px;
}

.banner-text p {
  color: #fff;
  text-align: center;
  font-family: "Merriweather";
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-text h2 {
  color: #fff;
  text-align: center;
  font-family: "Merriweather";
  font-size: 62px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  width: 100%;
  max-width: 530px;
  margin: 0 auto;
}

/* midnight party */

.midnight-party-bg {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png") no-repeat center / cover;
  border-radius: 16px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.midnight-party-content {
  width: 50%;
}

.midnight-party-content * {
  margin-bottom: 5px;
}

.midnight-party-content h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.midnight-party-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.midnight-party-img img {
  width: 270px;
  height: 390px;
}

.midnight-party-content a,
.event-schedule-content a {
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 20px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 10px;
  transition: all 0.8s;
  background-color: #fff;
  color: grey;
}

.midnight-party-content a:hover,
.event-schedule-content a:hover {
  color: #fff;
  background-color: grey;
}

/* discount section */

.discount-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discount-content h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.discount-content p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.discount-content h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.discount-content img {
  width: 680px;
  height: 425px;
}

.event-schedule-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}

.event-schedule-content {
  text-align: center;
  padding: 85px 0px;
}

.event-schedule-content span,
p {
  color: #f00;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.event-schedule-content span {
  margin-right: 10px;
}

.event-schedule-content p {
  color: #070211;
}

.event-schedule-content a {
  color: #fff;
  background-color: #f00;
  margin-top: 40px;
}

/* best offer section */

.best-offer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
}

.best-offer-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.best-offer-description img {
  width: 120px;
  height: 120px;
}
.best-offer-text h3 {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.best-offer-text h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.best-offer-text p,
.best-offer-description p,
.portfolio-heading p,
.newsletter-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.best-offer-text p,
.best-offer-description p {
  max-width: 330px;
}

.best-offer-text * {
  margin-bottom: 5px;
}

.best-offer-rounded img {
  width: 280px;
  height: 280px;
  padding: 20px;
}

.round {
  border: 15px solid #f00;
  border-radius: 50%;
}

/* holidays sale section */
.holiday-sale-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top:20px;
}
.holiday-sale-text h3 {
  color: #070211;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.holiday-sale-text h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 62px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.holiday-sale-text h2 span {
  color: #f00;
}

.holiday-sale-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  max-width: 908px;
  text-align: center;
}

.holiday-sale-text *{
  margin-bottom: 20px;
}

.holiday-sale-content{
  display: flex;
  flex-direction: column;
}

.holiday-sale-content-row-1{
  display: flex;
  justify-content: end;
  align-items: center;
}

#holiday-sale-1{
  width: 370px;
  height: 370px;
  position: relative;
  
}

#holiday-sale-2{

  width: 175px;
  height: 175px;
  margin-right:-100px;
  z-index: 2;

}

#holiday-sale-4{
  border-radius: 16px 0px 16px 16px;
  background: #F00;
  width: 100%;
  height: 195px;
}

.holiday-sale-1-container {
  position: relative;
}
.holiday-sale-1-container > * {
  position: absolute;
  width: 100%;
  top: -400px;
  right: -200px;
}

/* portfolio section */

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  flex-grow: 1;
}

.portfolio-heading h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.portfolio-heading h2,
.newsletter-content h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.product img {
  width: 360.4px;
  height: 360.4px;
  border-radius: 16px;
}
.portfolio-heading * {
  margin-bottom: 20px;
}
.portfolio-heading p {
  max-width: 760px;
}

/* newsletter section */

.newsletter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  gap: 30px;
  padding: 65px 0px;
}

.newsletter-content p {
  max-width: 760px;
  text-align: center;
}

.newsletter-content img {
  width: 127px;
  height: 127px;
}
form {
  width: 45%;
  display: flex;
}

form input {
  border: none;
  outline: none;
  padding: 5px 5px;
}

input[type="email"] {
  flex-grow: 1;
  padding: 25px 30px;
  border-radius: 50px 0px 0px 50px;
}

input[type="email"]::placeholder {
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type="submit"] {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 24px 40px;
}

/* footer section */

footer {
  background: #070211;
}
.footer-content {
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
}

.footer-content-social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-content-social-media img {
  width: 50px;
  height: 50px;
}

.footer-content-copyright {
  display: flex;
  justify-content: space-between;
}

.footer-contact-container p,
.footer-content-copyright p,
.footer-content-copyright a,
.footer-contact li a {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.footer-contact-info li a,
.footer-content-copyright a {
  text-decoration: none;
  cursor: pointer;
}

hr {
  background: rgba(255, 255, 255, 0.039);
  margin: 40px 0px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.footer-contact img {
  width: 18px;
  height: 18px;
}

.footer-contact-info li {
  display: flex;
  align-items: center;
}

.footer-contact-info li span {
  margin-right: 8px;
}

.footer-contact-container {
  display: flex;
  justify-content: space-between;
}

.footer-contact-container p {
  max-width: 319px;
}